.slider{
  width: 400px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.slider ul{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  list-style: none;
  width: 4000px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.slider li{
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
.slider li img{
  width: 400px;
  height: 250px;
}
